<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>네이버 크롤링 하기</h1>
<hr />

<form id="frm">
	<input type="text" name="keyword" placeholder="제품명" />
</form>
<button onclick="crawNaver()">크롤링 시작</button>

<script>
	function crawNaver() {
		let form_el = document.querySelector("#frm");
		console.log(form_el);
		
		var data ="keyword=아이패드";
	}
</script>
</body>
</html>